.idea/
vendor/
workspace/
composer.lock
composer.phar

.env
/deployment/
/config/

phpunit.phar
/.phpunit.result.cache
/coverage/
/coverage.xml
/coverage.clover.xml

dev/docker/sapi/engine/vendor/
dev/docker/utils/web/vendor/

proxy/charcoal.nginx
proxy/charcoal-dev.crt
proxy/charcoal-dev.key

var/log/*
var/tmp/*
var/shared/*