# IDE / Workspace
.idea/
.vscode/
workspace/
.DS_Store
Thumbs.db

# Development and Builds
dev/.env
dev/docker/utils/db/init/*.sql
dev/**/tls.manifest.json
dev/**/nginx.generated.conf
# Composer (Packagist)
dev/composer/**
dev/composer/vendor/
dev/composer/vendor/**
!dev/composer/composer.json
# Docker & Compose
dev/docker/sapi/**/Dockerfile
!dev/docker/sapi/Dockerfile
dev/docker/compose/**
!dev/docker/compose/mounts.dev.yml
!dev/docker/compose/mounts.prod.yml
# Toolkit
dev/tools/**
!dev/tools/phpunit.xml

# IDE Specific
vendor/
composer.lock

# Tests build artifacts
tests/build/*

# Temporary Files
var/**
!var/storage/
!var/storage/seed/**
!var/storage/defaults/**
!var/**/.gitkeep

# Downstream App Specific
.env
/config
/deployment

# PHPUnit Specific
phpunit.phar
composer.phar
dev/tools/phpunit.phar
/.phpunit.result.cache
/coverage/
/coverage.xml
/coverage.clover.xml